<!-- Author Box -->
{% if page.author %} {% if site.authorbox == "enabled" %}
<div class="row authorbox align-items-center">
  <div class="col-md-2 pb-4 pb-md-0">
    {% if author.avatar %}
    <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}" />
    {% else %}
    <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}" />
    {% endif %}
  </div>
  <div class="col-md-10">
    {% if author.web %}
    <a target="_blank" class="text-dark h4" href="{{ author.web }}">
      Sobre {{ author.display_name }}
    </a>
    {% else %}
    <span class="text-dark h4">
      Sobre {{ author.display_name }}
    </span>
    {% endif %}
    {% if author.twitter %}
    <a target="_blank" href="{{ author.twitter }}" class="btn-sm">
      <i class="fab fa-twitter"></i>
    </a>
    {% endif %}
    <span class="author-description d-block mt-2">
      {{ author.description }}
    </span>
  </div>
</div>
{% endif %} {% endif %}
