<section class="disqus">
    <div id="disqus_thread"></div>
    <!-- <script type="text/javascript">
        var disqus_shortname = '{{site.disqus}}'; 
        var disqus_developer = 0;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script> -->
    <script>
        /* var disqus_config = function () { */
            /* this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable */
            /* this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable */
        /* }; */
        (function() {
            var d = document, s = d.createElement('script');
            /* dsq.async = true; */
            s.src = 'https://{{site.disqus}}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Por favor activa JavaScript para ver <b>comentarios by Disqus</b>.</noscript>
</section>