---
---

$brown: #B59F62;
$teal: #40FFDC;
$black: #111;
// $primary: $teal;
$primary: #FFE082;
$dark: #212529;
$enable-rounded: false;

@import 'bootstrap/bootstrap';
@import 'memoirs';
@import 'smooth-scroll';
@import 'cookies-message';
@import 'scroll-show';
@import 'btn-up';
@import 'lazy-load';
@import 'custom';